main{
    padding-top: 130px;
}
/* acomodacoes.css */
main section p:first-child {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}
main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
main section:last-child {
    border-bottom: none;
}
.acomodacao{
    display: flex;
    flex-wrap: wrap;
}
.acomodacao-tipo{
    display: inline;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.acomodacao-opcoes ul{
    width: 100%;
    display: flex;
    padding: 30px;
    gap: 55px;
}
.acomodacao img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 1px 4px 7px black;
    margin-right: 20px;
}
main section div:nth-child(2) {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
main section div ul {
    list-style-type: disc;
    padding-left: 20px;
}
main section div ul li {
    line-height: 1.5em;
}

@media (max-width: 768px) {
    main section {
        text-align: center;
    }
    .acomodacao img {
        margin: 0 0 20px 0;
    }
    .acomodacao-opcoes ul {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    main section div:nth-child(2) {
        font-size: 1.2em;
    }
    .acomodacao-opcoes ul {
        padding: 0;
        gap: 10px;
    }
}