/* hotel.css */
main section:first-child {
    padding: 20px;
    text-align: center;
}
main section:first-child h2 {
    font-size: 2em;
    font-family: 'Amazon', Arial, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
main section:first-child p {
    line-height: 1.5em;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2em;
}
.cards-hotel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px; /* remove espaçamento lateral dentro do grid */
    padding: 5px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cards-hotel img {
    width: 100%;
    height: 250px; /* altura fixa para evitar diferença entre imagens */
    object-fit: cover; /* preenche o card sem distorcer */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    display: block;
}



.cards-hotel img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .cards-hotel {
        grid-template-columns: 1fr;
    }
}
