/*
 * Arquivo CSS para a página restaurante.html
 */

/*
 * Arquivo CSS para a página restaurante.html
 */

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
    padding: 20px 0;
}

.galeria img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-sm);
    transition: var(--transicao);
}

.galeria img:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-md);
}